#Mongo metis-core
mongo.core.hosts=
mongo.core.port=
mongo.core.authentication.db=
mongo.core.username=
mongo.core.password=
mongo.core.enableSSL=
mongo.core.db=

#Truststore
truststore.path=
truststore.password=

#Solr/Zookeeper published records
solr.publish.hosts=
zookeeper.publish.hosts=
zookeeper.publish.port=
zookeeper.publish.chroot=
zookeeper.publish.defaultCollection=

#PostGreSQL
postgresql.server=jdbc:postgresql://
postgresql.username=
postgresql.password=

#Link Checking
# Note: There should be significantly more (say 3 times) execute threads than sample records. Since
# all links for a dataset (likely with the same server) may come through to the link checker in quick
# succession, this would decreases the likelihood and impact of the bottleneck that is created this
# way (threads needing to spend a lot of time waiting for other threads to free up a server).
linkchecking.sample.records.per.dataset=
linkchecking.run.create.threads=
linkchecking.run.execute.threads=
linkchecking.min.time.between.same.server.checks=
linkchecking.connect.timeout=
linkchecking.socket.timeout=
linkchecking.download.timeout=

