#Truststore
truststore.path=
truststore.password=

#PostGreSQL
postgresql.server=jdbc:postgresql://
postgresql.username=
postgresql.password=

#Reports
# The String.format() - compatible template for the link to the dataset to be included in the
# report. It expects one occurrence of '%s' that will contain the dataset ID.
report.dataset.link.template=